:host {
  --border-color: #736357;
  --border-light-color: #ccc;
  --link-color: #1c1b19;
  --link-hover-color: #ff7300;
}

a {
  color: var(--link-color);
  transition: color 0.2s;
}

a:hover {
  color: var(--link-hover-color);
}

[class^='stack'] > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack-large > * + * {
  margin-top: 1rem;
}

.stack-small > * + * {
  margin-top: 0.5rem;
}

.box {
  padding: 0.75rem 1rem;
}

.box-x {
  padding-left: 1rem;
  padding-right: 1rem;
}

.box-y {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.box > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

.box > *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.border {
  border: solid thin var(--border-color);
}

.border-bottom {
  border-bottom: solid thin var(--border-color);
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.bg-primary {
  background-color: hsl(53deg, 100%, 93%);
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.pb-0 {
  padding-bottom: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade {
  animation: fade-in 0.3s;
}

.font-large {
  font-size: large;
}
