:host {
  --max-height: calc(100vh - 2rem);
}

.scroll-container {
  display: flex;
  flex-direction: column;
  max-height: var(--max-height);
}

.scroll-pane {
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  flex: 1;
}

.tabs {
  border-bottom: solid thin var(--border-light-color);
}

.tabs.cluster {
  gap: 0;
}

.tabs > a {
  padding: 0.5rem 2rem;
  text-decoration: none;
  transition: background-color 0.2s;
}

.tabs > a:hover:not(.active) {
  background-color: #eee;
}

.tabs > a.active {
  border-bottom: solid 3px #ff7370;
  color: inherit;
  font-weight: bold;
}

.icon > svg {
  height: 1.1em;
  width: 1.1em;
  vertical-align: -0.15em;
}
