:host {
  --max-height: calc(100vh - 2em);
}

.container {
  display: grid;

  grid-template:
    "header     header"  auto
    "nav        content" 1fr /
    min-content 1fr;

  max-height: var(--max-height);
}

.container > h1 {
  grid-area: header;
}

.container > nav {
  grid-area: nav;
  text-align: center;
}

.container > main {
  grid-area: content;
  overflow: auto;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.no-margin-around-y > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

.no-margin-around-y > *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.tabs > a {
  display: block;
  padding: calc(0.5em / 1.2) calc(1.75em / 1.2);
  border-style: solid;
  border-color: transparent;
  border-width: 3px 0;
  transition: background-color 0.2s, border-color 0.2s;
}

.tabs > a:hover:not(.active) {
  background-color: #eee;
}

.tabs > a.active {
  border-bottom-color: #ff7370;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

svg.icon {
  height: 1em;
  width: 1em;
  vertical-align: -0.1em;
}
