:host {
  --max-height: calc(100vh - 2rem);
}

.tabs {
  border-bottom: solid 1px var(--border-color);
  padding: 0.5rem 0.75rem 0;
}

.tabs.cluster {
  gap: 1rem 0;
}

.tabs > a {
  padding: 0.35rem 1rem;
  position: relative;
  top: 1px;
  text-decoration: none;
}

.tabs > a.active {
  border: solid 1px var(--border-color);
  border-bottom: solid 1px white;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  color: inherit;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  max-height: var(--max-height);
}

.scroll-pane {
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  flex: 1;
}

h1 {
  font-size: 1.75rem;
}
